<p>
  <b>(<%= comment.score %>) <%= link_to comment.content_preview, comment_url(comment.id) %></b> |
  <%= link_to "upvote", upvote_comment_url(comment), method: :post %> |
  <%= link_to "downvote", downvote_comment_url(comment), method: :post %>
</p>

<ul>
  <% comments_by_parent_id[comment.id].each do |child_comment| %>
    <li><%= render("comments/comment",
            comment: child_comment,
            comments_by_parent_id: comments_by_parent_id) %></li>
  <% end %>
</ul>
