<%= link_to "Back to Post", post_url(@post)%>
<h3>Comment:</h3>
<h4><%= @comment.content %></h4>

<%= link_to "upvote!", upvote_comment_url(@comment), method: :post %> |
<%= link_to "downvote!", downvote_comment_url(@comment), method: :post %>
<br>
<br>

<form action="/comments" method="post">
  <%= auth_token_helper %>

  <input type="hidden" name="comment[comment_id]" value="<%= @comment.id %>">
  <input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>">

  <textarea name="comment[content]" rows="8" cols="40"></textarea><br>

  <input type="submit" value="create reply">
</form>
