<%= link_to "Back to All Subforums", subs_url %><br>
<%= link_to "Back to #{@sub.title}", sub_url(@sub.id) %>

<h1> <%= link_to @post.title, @post.url, target: '_blank' %></h1>

<h4>Content</h4>
<%= @post.content %>
<h4>Related Subforums</h4>
<%= list_relating_subforums(@post) %>
<br>
<br>
<h4>Comments</h4>
<%= button_to "Comment on this post", new_post_comment_url(@post) %>

<ul>
  <% @comments_by_parent_id[nil].each do |top_level_comment| %>
    <li>
      <%= render("comments/comment",
                 comment: top_level_comment,
                 comments_by_parent_id: @comments_by_parent_id) %>
    </li>
  <% end %>
</ul>
