<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <% if current_user %>
      <%= button_to "Logout", session_url, method: :delete %>
    <% else %>
      <%= (button_to "Login", new_session_url) %>
      <%= button_to "Sign up", new_user_url %>
    <% end %>

    <ul>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <li>
          <%= error %>
        </li>
      <% end %>
    <% end %>
    </ul>

    <ul>
    <% if flash[:notice] %>
      <% flash[:notice].each do |notice| %>
        <li>
          <%= notice %>
        </li>
      <% end %>
    <% end %>
    </ul>
  </header>


<%= yield %>

</body>
</html>
